<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/animation.css">
    <title>Mina tidigare jobb</title>
</head>
<header>
    <nav>
        <ul>
            <li><a href="/">Startsida</a></li>
            <li><a href="/add">Lägg till jobb</a></li>
            <li><a href="/about">Om uppgiften</a></li>
        </ul>
    </nav>
</header>
<div id="liner"></div>
<body>
    <div id="container_index">
        <h1>Mina tidigare arbetslivserfarenheter</h1>

        <a href="/add">Lägg till jobb</a>

        <div id="loadingIcon" style="display: none;" class="loading">
           <div class="spinner"></div>
        </div>   

        <ul id="jobList"></ul>
    <script src="/js/main.js"></script> 
</body>
</html>